<br>
<div style="text-align:center">
    <h1>Idiomas Primaria</h1><br>
    <div class="form-group">
    <div class="offset-md-4 col-md-4">
        <select id="dropIdioma" name="dropIdioma" class="form-control"  >
        <option value='0'> -- Seleccione Idioma -- </option>
        <option value='1'>Kaqchikel</option>
        <option value='2'>Ingles</option>
        </select>
    </div>        
    </div><br><br><br>
    <div class="row col-md-8 offset-md-3">
        <div class="col-md-3">
        <button type="button" id="frutas" name="frutas" class="btn btn-outline-primary btn-lg"> Frutas </button>  
        </div>
        <div class="col-md-3">
        <button type="button" id="colores" name="colores" class="btn btn-outline-warning btn-lg"> Colores </button>
        </div>
        <div class="col-md-3">
        <button type="button" id="colores" name="colores" class="btn btn-outline-danger btn-lg"> Numeros </button>
        </div>
    </div>
</div>
